@import "../../utils"

main
  height: auto;
  padding: 1em

section
  border 1px solid rgba(#888,.4)
  margin: 1em 0
  display: flex
  align-items: center
  justify-content: space-between;
  flex-wrap: wrap
  padding: 1em

.block-luci
  h2
    min-width: 100%

h2
  width: auto
  font-size: 1.6em

h1
  text-align: center
  font-size: 2.5em
  padding: 1em 0


.buttons
  padding-top .5em
  width: 100%
  display: flex
  justify-content: center
  flex-wrap: wrap
.button
  padding .5em
  width: auto
  position: relative
  input{
  	display: none;
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
    & + label {
      display: block;
      position: relative;
      cursor: pointer;
      outline: none;
      user-select: none;
      padding: 2px;
      width: 120px;
      height: 60px;
      &:before,
      &:after {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        color: #fff;
        font-size: 20px;
        text-align: center;
        line-height: 60px;
      }
      &:before {
        background-color: #dddddd;
        content: attr(data-tg-off);
        transition: transform 0.5s;
        backface-visibility: hidden;
      }
      &:after {
        background-color: #8ce196;
        content: attr(data-tg-on);
        transition: transform 0.5s;
        transform: rotateY(180deg);
        backface-visibility: hidden;
      }
    }
  &:checked + label:before {
    transform: rotateY(180deg);
  }
  &:checked + label:after {
    transform: rotateY(0);
  }
}
