<main>
  <h1>Welcome</h1>
  <section class="block-dash">
    <h2>Some Stats</h2>
    <div>°C: {{recived.DHT.temp | json}}</div>
    <div>H: {{recived.DHT.humi | json}}</div>
    <div>Lux: {{recived.LDR.lux}}</div>
    <div></div>
  </section>
  <section class="block-luci">
    <h2>Home Lights</h2>
    <div class="buttons">
      <div class="button">
        <input id="led0" type="checkbox" name="led0" value="">
        <label data-tg-off="ROOM 0" data-tg-on="ROOM 0" for="led0" (click)="toggle(0)"></label>
      </div>
      <div class="button">
        <input id="led1" type="checkbox" name="led1" value="">
        <label data-tg-off="ROOM 1" data-tg-on="ROOM 1" for="led1" (click)="toggle(1)"></label>
      </div>
      <div class="button">
        <input id="led2" type="checkbox" name="led2" value="">
        <label data-tg-off="ROOM 2" data-tg-on="ROOM 2" for="led2" (click)="toggle(2)"></label>
      </div>
      <div class="button" >
        <input id="led3" type="checkbox" name="led3" value="">
        <label data-tg-off="ROOM 3" data-tg-on="ROOM 3" for="led3" (click)="toggle(3)"></label>
      </div>
      <div class="button" >
        <input id="led4" type="checkbox" name="led4" value="">
        <label data-tg-off="ROOM 4" data-tg-on="ROOM 4" for="led4" (click)="toggle(4)"></label>
      </div>
      <div class="button" >
        <input id="led5" type="checkbox" name="led5" value="">
        <label data-tg-off="ROOM 5" data-tg-on="ROOM 5" for="led5" (click)="toggle(5)"></label>
      </div>
      <div class="button" >
        <input id="led6" type="checkbox" name="led6" value="">
        <label data-tg-off="ROOM 6" data-tg-on="ROOM 6" for="led6" (click)="toggle(6)"></label>
      </div>
      <div class="button" >
        <input id="led7" type="checkbox" name="led7" value="">
        <label data-tg-off="ROOM 7" data-tg-on="ROOM 7" for="led7" (click)="toggle(7)"></label>
      </div>
    </div>
  </section>
  <section class="block-garage">
    <h2>Garage Door</h2>
    <div class="button">
      <input type="checkbox" name="name" value="" id="gar">
      <label for="gar" data-tg-off="CLOSED" data-tg-on="OPEN" (click)="gar()"></label>
    </div>
  </section>
</main>
