@import "../utils"

header
  background: $palette.orange
  font-size: 1.25em
  a
    padding: 1em
    text-decoration: none
  nav
    width: 100%
    display: flex
    align-items: center

footer
  background: $palette.orange
  font-size: .75em
  text-align: center
  padding: 1em
