@import "reset"
@import "utils"

global-reset()
reset-html5()


*, *:before, *:after
  box-sizing: border-box

h1, h2, h3
  font-family: $font.header

html, body
  position: relative
  display: block
  min-height: 100%
  height: 100%
  width: 100%

body
  display: block
  font-family: $font.body
