// @stylint off


// IMPORTS
//@import 'nib'
@import url("https://fonts.googleapis.com/css?family=Fredericka+the+Great|Josefin+Sans")

// RESET CSS
//global-reset()

// VARS
$palette = {
  "white" : #FEFEFE,
  "black" : #000E19,
  "blue" : #0072CA,
  "blue-shade" : #004D89,
  "blue-light" : #3F87BE,
  "red" : #FA0018,
  "red-shade" : #CE0014,
  "red-light" : #F94658,
  "orange" : #FF8100,
  "orange-shade" : #D56B00,
  "orange-light" : #FFA448
}

$size = {
  "mobile": 720px,
  "tablet": 1200px,
  "desktop": 1900px
}


$font = {
  "header" : 'Fredericka the Great',
  "body" : 'Josefin Sans',
  "mobile": 1em,
  "tablet": 1.3em,
  "desktop": 1.7em
}

$media = {
  "mobile" : {
    "pd" : 1em,
    "mg" : 1em
  },
  "tablet" : {
    "pd" : 2em,
    "mg" : 2em
  },
  "desktop" : {
    "pd" : 4em,
    "mg" : 4em
  }
}
// @stylint on
